body {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Sans Narrow", "Tahoma", sans-serif;
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.4;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.4;
  color: black;
}