body {
  min-width: 960px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5; /*Check: 24px on demo*/
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url("../img/index-background.jpg") no-repeat center 3px;/*Check: top on demo*/
  /*Check: was background-size: 1122px auto;*/
}

.inner-page {
  color: #000000;

  background: #f8f3f0 url("../img/background-light.png") repeat;
}

/*Check: mine*/
.breadcrumbs {
  margin-bottom: 52px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;

  font-weight: 700;  /*Check: font: inherit to shorten?*/
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

/*==========HEADER==========*/
.main-header {
  margin-bottom: 55px; /*Check: 60px on demo*/

  color: #ffffff;

  background-color: #000000;
}

.inner-page .main-header {
  margin-bottom: 50px;
}

.main-header .header-logo {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .header-logo img {
  width: 111px;
  height: 24px;
}

.main-navigation .header-logo:hover {
  background: none;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px; /*Check: not proportional in demo !recommended: px - harder!*/
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation .active {
  position: relative;

  background-color: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;

  height: 5px;

  background-color: #ffffff;
}

.main-navigation .active a:hover {
  background: none;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px; /*Check: for icon, is larger in styleguide*/

  font-size: 16px;
  line-height: 20px; /*Check: not proportional in demo !recommended: px - harder!*/
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px; /*Check: by icon size*/
  left: 20px;/*Check: by icon size*/

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat; /*Check: make sprite for login*/
  background-position: -5px -232px; /*Check: by icon position*/
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

/*==========FOOTER==========*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff; /* лучше явно прописать везде для футера */
  background: #252525 url("../img/background-dark.png");
}

.inner-page-footer {
  margin-top: 50px;

  box-shadow: inset 0px 30px 40px -15px #000;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  line-height: 24px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #000000 url("../img/sprite.png") no-repeat center; /*Check: make sprite*/

  transition: 
  background-position 0.5s,
  background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: 4px -312px; /*Check: make sprite*/
}

.social-btn-fb {
  background-position: 4px -86px; /*Check: make sprite*/
}

.social-btn-inst {
  background-position: 4px -158px; /*Check: make sprite*/
}

.social-btn-vk:hover {
  background-position: 4px -275px; /*Check: make sprite*/
}

.social-btn-fb:hover {
  background-position: 4px -49px; /*Check: make sprite*/
}

.social-btn-inst:hover {
  background-position: 4px -120px; /*Check: make sprite*/
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}

/*==========INDEX LOGO==========*/
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto; /*Check: \/*/
  margin-bottom: 20px; /*Check: I used '5 auto 25 auto'*/
}

.index-logo img {
  width: 368px;
  height: 204px;
}

/*==========INDEX FEATURES==========*/
.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;

  display: block;
  margin-bottom: 25px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;  /*Check: not proportional in demo !recommended: px - harder!*/
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;

  line-height: 24px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

/*==========INDEX CONTENT==========*/
.index-content {
  margin-bottom: 35px;
  padding: 45px 80px;

  color: #000000;

  background: url("../img/separator-vertical.png") no-repeat center,
  #f8f5f2 url("../img/background-light.png");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 37px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;

  line-height: 24px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;

  line-height: 1.2;
}

.news-preview-btn {
  margin-top: 5px;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.index-content-contacts .index-content-title {
  margin-bottom: 22px;
}

.index-content-contacts p {
  margin-bottom: 22px;
}


/*==========INDEX APPOINTMENT==========*/
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 9px 15px;

  font: inherit;
  color:  inherit;
  text-transform: inherit;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;

  margin-bottom: 5px;
}

/*==========POPUPS==========*/
.popup {
  position: fixed;
  top: 120px;
  left: 0; 
  right: 0; 
  margin-left: auto;
  margin-right: auto;
}

.popup-hidden {
  display: none;
}

.popup-login {
  width: 300px;
  padding: 50px 80px;
  z-index: 20;

  color: #000000;

  background: #f8f3f0 url("../img/background-light.png");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.popup-login h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.popup-login p {
  margin: 0;
  margin-bottom: 14px;
}

.popup-login form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.popup-login input[type="text"],
.popup-login input[type="password"] {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.popup-login input:focus {
  border-color: #663d15;
}

.popup-login  input.icon-user {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 100% -245px;
}

.popup-login  input.icon-password {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 100% -189px;
}

.popup-login .restore {
  float: right;

  color: #000000;
}

.popup-login .btn {
  width: 100%;
  margin-top: 15px;
}

.remember-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.remember-checkbox:hover {
  color: #663d15;
}

.remember-checkbox input[type="checkbox"] {
  display: none;
}

.remember-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.remember-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.remember-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.remember-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.remember-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.popup-map {
  top: 50%;
  margin-top: -280px;
  z-index: 20;

  width: 766px;
  height: 560px;

  background: #e9e5dc url("../img/map.png");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}
/*.popup-login {
  width: 460px;
  margin: 0 auto;
  padding: 50px 0;
}

.popup-login>form {
  margin: 0 auto;
  width: 300px;

  min-height: 240px; Только для оформления сетки
}

.popup-login>h2 {
  margin: 0 auto;
  width: 300px;
}

.popup-map {
  margin: 0 auto;
  width: 780px;
  padding: 7px;
}*/



/*==========INNER PAGES - COMMON==========*/
.inner-page-title {
  margin-bottom: 45px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs li:last-child {
  color: #aba9a7;
}

.breadcrumbs li:last-child::after {
  display: none;
}

/*==========INNER CONTENT(PRICE)==========*/
.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content h2 + h3 {
  margin-top: 30px;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 9px 15px;

  border: 2px solid #000000;
}

.big-heading {
  margin-top: 45px;
  margin-bottom: 62px;

  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;

  display: inline-block;
  margin: 0;
  padding: 0 25px;

  font-size: 48px;
  line-height: 48px;
  text-align: center;
  vertical-align: baseline;/*Check - rly?*/

  background-color: red;
  
  background: #f8f3f0 url("../img/background-light.png") repeat;
}

.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;

  display: block;

  border-bottom: 2px solid #000000;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;

  list-style: none;
}

.custom-list-1 li {
  position: relative;

  margin-bottom: 16px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
  margin-top: 33px;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;

  line-height: 24px;
}

.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

/*========== ==========*/
.catalog {
  margin-top: 48px;
}

.catalog-filters {
  width: 220px;
  float: left;
}

.catalog-filters .filters-group {
  margin-bottom: 50px;
}

.filters-group h3 {
  margin: 0px;
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
}

.filters-group label {
  display: inline-block;
  margin: 0px;
  margin-bottom: 19px;
  padding-left: 45px;

  font-size: 14px;
  vertical-align: baseline;
  line-height: 18px;
}

.filters-group input {
  display: none;
}

.catalog-filters label {
  position: relative;

  display: block;
}

.catalog-filters label:hover {
  color: #663d15;
  background-color: transparent;
}

.catalog-filters-checkbox + label::before,
.catalog-filters-radio + label::before,
.catalog-filters-radio + label::after {
  position: absolute;

  content: "";
}

.catalog-filters-checkbox + label::before,
.catalog-filters-radio + label::before {
  top: 0px;
  left: 1px;

  width: 16px;
  height: 16px;

  border: 2px solid black;
}

.catalog-filters-radio + label::before,
.catalog-filters-radio + label::after {
  border-radius: 50%;
}

.catalog-filters-checkbox:checked + label::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -3px -3px;
}

.catalog-filters-radio:checked + label::after {
  top: 6px;
  left: 7px;

  width: 0px;
  height: 0px;

  border: 4px solid black;
}

.catalog-filters-checkbox:disabled + label,
.catalog-filters-checkbox:disabled + label::before,
.catalog-filters-radio:disabled + label,
.catalog-filters-radio:disabled + label::before {
  color: black;
  opacity: 0.5;
}

.catalog-filters .btn {
  width: 112px;
}

.catalog-content {
  width: 700px;
  float: right;
  margin-top: 5px;
}

.catalog-content-item {
  float: left;
  margin-right:20px;
  width: 220px;
  margin-bottom: 20px;

  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.catalog-content-item:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 1, 1, 0.2);
}

.catalog-content-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-content-item > a {
  text-decoration: none;
  color: black;

  background-color: transparent;
}

.catalog-content-item img {
  margin-bottom: 9px;
}

.catalog-content-item h4 {
  margin: 0 16px;
  margin-bottom: 12px;

  line-height: 18px;
  text-transform: none;
}

.catalog-content-item .price-box {
  margin: 16px 16px;
  margin-top: 0;
}

.price-box {
  font-size: 0px;
}

.price-box > * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  font-size: 14px;
  line-height: 17px;
}

.price-box .price {
  width: 109px;
  padding-top: 13px;
  padding-bottom: 13px;

  background-color: #e5e5e5;
}

.price-box .btn {
  padding: 13px 18px;
  margin-right: 0px;
}

.catalog-content-item .brand-title {
  display: block;

  text-transform: uppercase;
}

.catalog-content-pages {
  float: left;
  width: 700px;
  margin-top: 24px;

  font-size: 0px;
}

.catalog-content-pages a,
.catalog-content-pages span {
  display: inline-block;
  min-width: 20px;
  height: 44px;
  padding: 0 11px;
  margin-right: 8px;

  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  text-decoration: none;
  color: white;

  background-color: black;
}

.catalog-content-pages .current {
  color: black;

  background-color: white;
}

.catalog-content-pages a:hover,
.catalog-content-pages span:hover {
  background-color: 663d15;
}

.good {/*можно использовать container*/
  width: 940px;
  padding: 0;
  margin: 0 auto;
  margin-top: 55px;
}

.good-gallery {
  width: 460px; 
  float: left;
}

.good-gallery-current {
  margin-bottom: 15px;

  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.good-gallery-all img {
  float: left;
  margin-right: 20px;

  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}

.good-gallery-all img:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 1, 1, 0.2);
}

.good-gallery-all img:nth-child(3n) {
  margin-right: 0;
}

.good-info {
  float: right;
  width: 390px; 
}

.good-info-availability {
  float: left;
  width: 160px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.good-info-id {
  float: right;
  width: 120px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.good-info p {
  width: 390px;
  margin-top: 0;
  margin-bottom: 35px;

  line-height: 24px;
}

.good-info-price {
  width: 188px;
  margin-bottom: 63px;

  /*TODO: только оформление сетки*/
  min-height: 43px;
}

.good-info-contents {
  margin-top: 0;
  width: 390px;
}

.good-info-contents-title {
  margin-bottom: 27px;
  margin-top: 0;

  font-size: 24px;
  line-height: 30px;
}

.good-info-contents-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.good-info-contents-items li {
  position: relative;
  padding-left: 22px;

  line-height: 24px;
}

.good-info-contents-items li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;

  display: block;
  width: 7px;
  height: 7px;
  margin-left: -10px;

  background-color: black;
  transform: rotate(45deg);
}